.titulo{
    padding: 10px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-left: 10px; 
    color: aliceblue
}
.logo{
    width: 65px;
    height: 60px;
    background-color: aliceblue;
    border: solid black;
    display: flex;
    align-items: center;
}

.buscador-container{
    width: 100%;
    padding: 50px;
}

.head-item{
    border: solid 1px #2c3e50;
    height: 50px;
    text-align: center;
    align-items: center;
    width: 50px;
}

.head-item-boton{
    border: solid 1px #2c3e50;
    height: 55px;
    width: auto;
    display:flex;
    justify-content:center;
    align-items: center;
}

.head-item-product{
    border: solid 1px #2c3e50;
    font-size: small;
    width: 20%;
    padding: auto;
}
