.login-container {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login-form {
    background-color: white;
    border: solid #2c3e50;
    width: 290px;
    height: 340px;
    margin: auto auto;
    padding: 40px;
    padding-top: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image{
    display:flex;
    justify-content:center;
    padding-bottom:15px
}

.login-button{
    display:flex;
    justify-content: center;
}

.text {
    color: #2c3e50;
}

.titulo {
    padding: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.logo {
    width: 65px;
    height: 60px;
    background-color: aliceblue;
    border: solid black;
    display: flex;
    align-items: center;
}

.registro{
    font-size: smaller;
    position: absolute;
    left: 50%;
    top: 89%;
    transform: translateX(-50%) translateY(-50%);
}