.titulo {
    padding: 10px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.logo {
    width: 65px;
    height: 60px;
    background-color: aliceblue;
    border: solid black;
    display: flex;
    align-items: center;
}