<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/buscador.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detalle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/registro.css') }}">
    <title> Inventario Global </title>
</head>

<body>
    <style>
        body{
            background-color: aliceblue;
            padding: auto;
        }
        nav{
            background-color: #011700;
            padding-top: 4px;
            margin-bottom: auto;
        }
    </style>
    <ul class="pagination pagination-lg" style="padding-top: 10px;">
        <li class="page-item">
            {% if normal %}
                {% if pagina-5>0 %}
                    <a class="page-link" href="/busqueda/{{pagina-5}}"><<</a>
                {% else %}
                    <a class="page-link" href="/busqueda/1"><<</a>
                {% endif %}  
            {% else %}
                {% if pagina <= 1 %}
                    <a class="page-link" href="/busqueda/buscar/{{entrada}}/1"><<</a>
                {% else %}
                    <a class="page-link" href="/busqueda/buscar/{{entrada}}/{{pagina - 1}}"><<</a>
                {% endif %}  
            {% endif %}
        </li>
        <li class="page-item">
            {% if normal %}
                {% if pagina <= 1 %}
                    <a class="page-link" href="/busqueda/1"><</a>
                {% else %}
                    <a class="page-link" href="/busqueda/{{pagina - 1}}"><</a>
                {% endif %}  
            {% else %}
                {% if pagina <= 1 %}
                    <a class="page-link" href="/busqueda/buscar/{{entrada}}/1"><</a>
                {% else %}
                    <a class="page-link" href="/busqueda/buscar/{{entrada}}/{{pagina - 1}}"><</a>
                {% endif %}  
            {% endif %}
        </li>
        <li class="page-item">
            <a class="page-link" href="#">{{pagina}}</a>
        </li>
        <li class="page-item">
            {% if normal %}
                <a class="page-link" href="/busqueda/{{pagina + 1}}">></a>
            {% else %}
                <a class="page-link" href="/busqueda/buscar/{{entrada}}/{{pagina + 1}}">></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if normal %}
                <a class="page-link" href="/busqueda/{{pagina + 5}}">>></a>
            {% else %}
                <a class="page-link" href="/busqueda/buscar/{{entrada}}/{{pagina + 5}}">>></a>
            {% endif %}
        </li>
    </ul>
    
    {% block body %}
    {% endblock %}

</body>
</html>