{% extends 'layout.html'%}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://raw.githubusercontent.com/NickCracker/Global/main/assets/logo.jpg" style="width: 60px;"><label  style="padding-left: 10px;">GLOBAL PHARMA</label></a>

      </div>
    </div>
</nav>
<style>
    .cuadro{
        width: 400px;
        height: 300px;
        position: absolute;
        left : 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .Formulario{
        background-color: #00a1f1;
        border: solid #2c3e50;
        width:300px;
        height: 300px;
        margin: auto auto;
        padding: 40px;
        padding-top: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text{
        color: #2c3e50;
    }
</style>

<body>
    <div class="cuadro">
        <div class="Formulario">
            <form action="/Permitir_acceso", method="POST">
                <label class="text" style="display: flex;justify-content:center; font-size:xx-large;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Login</label><br>
                <label class="text">Usuario</label><br>
                <input type="text" name="usuario"><br>
                <label class="text">Contraseña</label><br>
                <input type="password" name="contraseña"><br><br>
                <div style="display:flex;justify-content: center;"><button type="submit" class="btn btn-dark">Ingresar</button></div>
            </form>
        </div>
    </div>
</body>

{% endblock %}


